@import "../utils/_variables.scss";
.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0px;
  &__logo {
    font-family: $logoFont;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $brandColor;
    &-span {
      color: $whiteTxtBcgrColor;
    }
  }
  &__contact {
    color: $whiteTxtBcgrColor;
    font-style: normal;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 0px;
    > li {
      margin-bottom: 9px;
    }
    a {
      color: rgba(255, 255, 255, 0.6);
      font-style: normal;
      letter-spacing: 0.03em;
    }
    a:hover,
    a:focus {
      color: $brandColor;
    }
  }
}
